{% extends 'base.html.twig' %}

{% block title %}Posts list{% endblock %}
{% block body %}

    <h1>Posts</h1>
    {% for posts in post %}
        <a href="{{ path('pop_one_post', {'id': posts.id })}}">Post: {{ posts.title }}</a><br>
        {{ posts.description }}<br>
        {{ posts.created| date("d.m.Y") }}<br>
        <hr>

    {% endfor %}

{% endblock %}